<!--Search Bar Index -->
<%= render partial: 'form' %>
<br>

<!--MapBox -->
<div class="columns is-gapless">
  <div class="column is-9">
    <div class="container" id='map'>
      <style> #map { width: 1000px; height: 400px; }</style>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZW1taWVoYXllcyIsImEiOiJjamx4NDhkczYwcDY3M3BwZ212bmRiOXZsIn0.5-yjf3hfBkhRNUCB9QzcjA';
          const map = new mapboxgl.Map({
          container: 'map',
          style: "mapbox://styles/emmiehayes/cjlyepdnv4ifp2ssykm1t5dpr",
          center: [-105.175832, 38.649444],
          zoom: 6.2});
      </script>
    </div>
  </div>

<!--Current Conditions -->
  <div class="column is-9">
    <div class="container">
      <div class="box">
        <div class="title">
          <p><%= @presenter.city_state %> <%= image_tag (@presenter.current_city_weather[:condition][:icon]) %></p>
        </div><hr>
        <div class="subtitle">
          <strong>Current Conditions:</strong>    
          <ul>
            <li>Skies: <%= @presenter.current_city_weather[:condition][:text] %></li>
            <li>Feels Like: <%= @presenter.current_city_weather[:feelslike_f] %>˚</li>
            <li>Humidity: <%= @presenter.current_city_weather[:humidity] %>%</li>
            <li>Winds: <%= @presenter.current_city_weather[:wind_mph] %> mph</li>
            <li>Precipitation: <%= @presenter.current_city_weather[:precip_in] %> inches</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--5 Day Forecast -->
<div class=section>
  <div class="columns">
    <% @presenter.forecasted_city_weather.each do |day| %>
      <div class="column">
        <article class="message is-small is-warning">
          <div class="message-header has-text-white">
            <strong><%= day.day %></strong>
          </div>
          <div class="message-body">
            <div class="columns">
              <div class="column is-one-half">
                <ul>
                  <li>Skies:<%= day.description %></li>
                  <li>Min: <%= day.temp_min %>˚F</li>
                  <li>Max: <%= day.temp_max %>˚F</li>
                  <li>Humidity: <%= day.humidity %>%</li>
                  <li>Max Winds: <%= day.max_winds %> mph</li>
                </ul>
              </div>
              <div="column is-offset-1">
                <%= image_tag (day.icon) %>
              </div>
            <%-#don't close this div tag-%>
          </div>
        </article>
      </div>
    <% end %>
  </div>
<%-#don't close this div tag-%>

<!--Trail List -->
<div class=section>
  <div class="columns">
    <% @presenter.trails_in_range.each do |trail| %>
      <div class="column">
        <article class="message is-small is-primary">
          <div class="message-header">
            <strong><%= trail.name %></strong>
          </div>
          <div class="message-body">
            <ul>
              <li>Location: <%= trail.location %></li>
              <li>Length: <%= trail.length %> mi</li>
              <li>Ascent: <%= trail.ascent %> ft</li>
              <li>Descent: <%= trail.descent %> ft</li>
              <li>Highest Point: <%= trail.highest_point %> ft</li>
              <li>Lowest Point: <%= trail.lowest_point %> ft</li>
            </ul>
          </div>
        </article>
      </div>
    <% end %>
  </div>
 <%-#don't close this div tag-%>

<!--Gear Shops List -->
<% unless current_user.nil?%>
  <div class=section>
    <div class="columns">
      <% @presenter.gear_in_range.each do |shop| %>
        <div class="column">
          <article class="message is-small is-info">
            <div class="message-header">
              <strong><%= link_to shop.name, shop.url  %></strong>
            </div>
            <div class="message-body">
              <ul>
                <li> <%= shop.address %></li>
                <li>Phone: <%= shop.phone_number %></li>
              </ul>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
     

