<!--Search Bar Index -->
<%= render partial: 'form' %>

<!--MapBox -->
<br>
<div class="container" id='map'>
  <style>body { margin:2; padding:2; } #map {  width: 700px; height: 400px; }</style>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZW1taWVoYXllcyIsImEiOiJjamx4NDhkczYwcDY3M3BwZ212bmRiOXZsIn0.5-yjf3hfBkhRNUCB9QzcjA';
      const map = new mapboxgl.Map({
      container: 'map',
      style: "mapbox://styles/emmiehayes/cjlyepdnv4ifp2ssykm1t5dpr",
      center: [-105.175832, 38.649444],
      zoom: 6.2});
  </script>
</div>

<br>

<!--Trail List -->
<div class="container">
  <div class="title">
    <h1>Trail Info</h1>
  </div>
  <div class='tails_in_range'>
    <% @presenter.trails_in_range.each do |trail| %>
    <div class="box">
      <ul>
        <li><strong><%= trail.name %></strong></li>
        <li>Location: <%= trail.location %></li>
        <li>Length: <%= trail.length %> mi</li>
        <li>Ascent: <%= trail.ascent %> ft</li>
        <li>Descent: <%= trail.descent %> ft</li>
        <li>Highest Point: <%= trail.highest_point %> ft</li>
        <li>Lowest Point: <%= trail.lowest_point %> ft</li>
        <li>Current Temperature: <%= trail.conditions.current %></li>
        <br>
<!--Weather Table -->
        <p><strong>Tomorrow's Forecast:</strong> 
          <table class="table has-content-centered is-striped is-hoverable is-bordered is-fullwidth">
            <thead>
              <tr>
                <th>Time</th>
                <th>Description</th>
                <th>Min (°F)</th>
                <th>Max (°F)</th>
                <th>Humidity (%)</th>
                <th>Winds (mph)</th>
              </tr>
            </thead>
            <tbody>
            <% trail.conditions.format_next_day.map do |frame| %>
              <tr>
                <td><%= frame.time %></td>
                <td><%= frame.description %></td>
                <td><%= frame.temp_min %></td>
                <td><%= frame.temp_max %></td>
                <td><%= frame.humidity %></td>
                <td><%= frame.winds %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    <% end %>
  </div>
</div>
 
 <br>

<!--Gear Shops List -->
<div class="container">
  <div class="title">
    <h1>Local Gear Shops</h1>
  </div>
    <div class='gear_in_range'>
    <% @presenter.gear_in_range.each do |shop| %>
      <div class="box">
      <li><strong><%= link_to shop.name, shop.url  %></strong></li>
      <li>Location: <%= shop.address %></li>
      <li>Phone: <%= shop.phone_number %></li>
    </div>
    <% end %>
  </div>
</div>