<!--Send a Text -->
<section class="hero is-info">
  <div class="hero-body">
  </div>
</section>
<div class="section">
  <div class="notification is-primary is-4"> 
    <strong>
      Invite a Friend to Ride <%= @trail.name %>!
    </strong>
    <h4>Enter the phone number below:</h4>
    <%= form_for :current_user, :url => { :controller => "messages", :action => "create" } do |f| %>
      <%= f.label :phone %>
      <%= f.phone_field :phone_number %>
      <%= f.hidden_field :trail_id, :value => @trail.id %>
      <%= submit_tag "Send Text", class: "button is-small is-info" %>
    <% end %>
  </div>
</div>

<!--Single Trail Info -->
<div class="section">
  <strong>
    <%= @trail.name %>
  </strong>
  <ul>
    <li>Location: <%= @trail.location %></li>
    <li>Length: <%= @trail.length %> mi</li>
    <li>Highest Point: <%= @trail.elevation_high %> ft</li>
    <li>Lowest Point: <%= @trail.elevation_low %> ft</li>
  </ul>
  <br>
  <a class="control"><%= button_to 'Back', dashboard_path, method: :get, class: "button is-outlined is-small is-danger"%>
</div>


