<!DOCTYPE html>
<html>
  <head>
    <title>Yonder</title>
    <!-- MapBox -->
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
      <!-- Fonts and FontAwesome -->
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Open+Sans:300|Oswald|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <!-- Nav Bar -->
  <header class="navbar is-info"> 
    <div class="navbar-menu">
      <% if current_user %>
  <!--Left -->
      <div class="navbar-start">
        <div class="navbar-item">
          <img src="https://cl.ly/eb4bc8af8152/Screen%20Shot%202018-09-10%20at%2012.26.22%20PM.jpg", alt="yonder logo width="112" height="28"">
        </div>
      </div>
  <!--Right -->
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="control"><%= button_to 'Dashboard', dashboard_path, method: :get, class: "button is-outlined is-small is-primary" %></a>
        </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="control"><%= button_to 'Sign Out', logout_path, method: :delete, class: "button is-outlined is-small is-warning" %></a>
        </div>
      <% else %>
      <div class="navbar-end">
          <div class="navbar-item">
            <a class="control"><%= button_to 'Wander', dashboard_path, method: :get, class: "button is-outlined is-primary" %></a>
          </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="control"><%= button_to 'Sign in with Google', '/auth/google_oauth2', method: :get, class: "button is-outlined is-warning" %></a>
          </div>
        </div>
      <% end %>
    </div>
  </header>
<%=yield%>
 </body>
</html>
