<!DOCTYPE html>
<html>
  <head>
    <title>Yonder</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
   <body>
   <section class="hero is-dark is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
              <div>
                <% if current_user %>
                  Signed in as <%= current_user.first_name %>!
                  <div class="navbar-item">
                    <a class="control"><%= button_to 'Sign Out', logout_path, method: :delete, class: "button is-outlined is-medium is-warning" %></a>
                  </div>
                <% else %>
                  <div class="navbar-item">
                    <a class="control"><%= button_to 'Sign in with Google', '/auth/google_oauth2', method: :get, class: "button is-outlined is-medium is-warning" %></a>
                  </div>
                <% end %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <%= yield %>
  </body>
</html>
